/*

PSLU Logo Colors

Blue:   #0c4c68
Greeen: #90a735

*/

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kreon", sans-serif;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.thin {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.lower-alpha {
  list-style-type: lower-alpha;
}

.lower-roman {
  list-style-type: lower-roman;
}

blockquote {
  color: #000000;
  font-family: "Kreon", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

/* Top Section */

.top-container {
  background: url("../img/top-bg-blue.png") no-repeat center -90px fixed;
  background-size: cover;
  height: 500px;
  /*margin-bottom: 50px;*/
  padding-top: 20px;
  border-bottom: 5px solid #90a735;
}

.top-container.sponsors {
  height: 350px;
  background-position: center -150px;
}

.logo-container {
  background-image: url("../img/pslu_logo_white.png");
  background-size: 200px 70px;
  background-repeat: no-repeat;
}

.logo {
  height: 70px;
  width: 200px;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.register {
  text-align: center;
}

.register.bottom {
  margin-top: 40px;
}

.intro {
  color: #fff;
  margin-top: 22px;
  text-align: center;
}

.intro a {
  color: #fff;
}

.intro-welcome {
  color: #fff;
  font-size: 40px;
  margin-bottom: 0;
}

.intro .intro-meta {
  text-align: left;
  margin-top: 90px;
}

.intro .intro-meta > p {
  margin-bottom: 0;
}


.intro .register {
  margin-top: 90px;
  text-align: right;
}

.intro .intro-meta .bold {
  margin-right: 15px;
}

.main-heading {
  color: #fff;
  font-size: 100px;
}

.subheading {
  color: #fff;
}

.subheading.sponsors {
  text-align: center;
}

/* Info Container */

.info-container {
  padding-top: 40px;
  padding-bottom: 20px;
  clear: both;
}

.more-info-btn {
  color: #90a735;
  background-color: #fff;
  padding: 10px 30px;
  border: 2px solid #90a735;
  border-radius: 4px;
  text-align: center;
}

.welcome {
  background-color: #f2f2f2;
  padding: 40px 0;
}

.welcome.sponsors {
  text-align: center;
}

.updates {
  background-color: #fafafa;
  padding: 40px 0 20px;
}

.events {
  background-color: #fafafa;
  padding: 40px 0;
}

.events.sponsors {
  text-align: center;
}

.sponsors-link {
  text-align: center;
  clear: both;
  padding-top: 20px;
}

.session {
  margin-bottom: 50px;
  padding-top: 40px;
  clear: both;
  overflow: hidden;
}

.session-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  position: relative;
  top: 0;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.heading {
  font-size: 50px;
  text-align: center;
}

.startups .heading {
  margin-bottom: 40px;
}

.session h3 {
  padding-bottom: 10px;
  margin-bottom: 2px;
  border-bottom: 1px solid #dadada;
}

.session h4 {
  line-height: 1.2em;
}

.session-number {
  margin-bottom: 10px;
}

.session:hover .session-icon {
  top: -5px;
  text-shadow:  0px 3px 0px #c5e449,
                0px 0px 0px #a6c03d,
                0px 5px 7px #90a735;
}

.session ul {
  clear: both;
}

.session .fi-checkbox {
  color: inherit;
  font-size: 18px;
  margin-right: 15px;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.session:hover .fi-checkbox {
  color: #90a735;
}

.session .icon {
  font-size: 18px;
  width: 25px;
  display: inline-block;
}

.mentor-image {
  margin: 42px 0 0;
}

.mentor-image.inline {
  display: inline-block;
  margin-right: 15px;
}

.mentor-text {
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 5px;
}

.mentor-company {
  font-style: italic;
}

.tabs-content {
  padding: 0 20px;
  border: 1px solid #dadada;
}

.tabs .tab-title > a {
  font-family: "Open Sans", sans-serif;
  padding: .5rem 1.5rem;
}

.tabs .tab-title.active a {
  color: #ffffff;
  background-color: #b7d443;
}

.content h3 {
  margin-bottom: 1rem;
}

.content h5 {
  text-transform: uppercase;
}

.assignment li {
  margin-bottom: 10px;
}

.presentation-format {
  margin-bottom: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-content {
  margin-top: 40px;
}

.faq-heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.about {
  background-color: #f6f6f6;
  padding-bottom: 40px;
}

.price {
  background-color: #f1f1f1;
  padding-bottom: 40px;
}

#footer {
  color: #fff;
  background-color: #90a735;
}

.footer-text {
  font-size: 12px;
  font-weight: 300;
  padding-top: 15px;
  margin-bottom: 10px;
}


@media only screen and (max-width: 40em) {

  .register {
    margin-top: 20px;
  }

  .top-container {
    background: url("../img/top-bg-blue.png") no-repeat center -150px fixed;
    height: 400px;
  }

  .main-heading {
    font-size: 42px;
  }

  .subheading {
    font-size: 16px;
  }

  .subheading.sponsors {
    text-align: center;
  }

  .intro {
    margin-top: 30px;
  }

  .intro .intro-meta,
  .intro .register {
    margin-top: 20px;
  }

  .intro .intro-meta > p {
    font-size: 13px;
  }

  .session h3 {
    font-size: 30px;
    text-align: center;
  }

  .session ul li {
    font-size: 16px;
  }

  .tabs .tab-title > a {
    padding: .5rem 1rem;
  }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */


@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  .main-heading {
    font-size: 85px;
  }

  .intro .intro-meta,
  .intro .register {
    margin-top: 60px;
  }


}
